<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Fragment page</title>
</head>
<body>
	<footer id="footer-fragment" th:fragment="footerFragment">
		<h1>This content is from the footer fragment tag</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Accusamus facilis cumque ipsum corporis laboriosam iusto voluptas
			tempore consectetur in ratione cupiditate fugiat quasi. Dolorem
			recusandae libero ipsum molestiae itaque asperiores unde placeat ab?</p>

	</footer>
</body>
</html>